# Ejercicios sobre Pandas

In [ ]:
import pandas as pd

In [ ]:
# Crear DataFrame desde el archivo CSV
df = pd.read_csv('Datasets/Nuclear_Incidents.csv')

### Ejercicio 1:
* Muestra la cantidad de registros para cada país ('Location').

In [45]:
paises = df['Location'].str.split(',').str[-1].str.strip()

In [46]:
# Se muestra la cantidad de los paises
paises.value_counts()

Location
United States     13
Japan              3
Soviet Union       2
United Kingdom     1
Switzerland        1
East Germany       1
Czechoslovakia     1
West Germany       1
Spain              1
Russia             1
Hungary            1
Sweden             1
France             1
Name: count, dtype: int64

### Ejercicio 2:
* Eliminar las columnas 'Longitude', 'Latitude' y 'Location' y mostrar las 2 primeras filas del Dataframe.

In [48]:
df.drop(columns=['Latitude','Longitude','Location']).head(2)

,Date,Incident,Category,Numbers of Direct Deaths,Numbers of InDirect Deaths,INES level
0,29/09/1957,Kyshtym disaster,Storage/Handling,NaN,200,6.0
1,10/10/1957,Windscale fire,Operational/Safety Measures,0.0,240,5.0

### Ejercicio 3:
* Muestra la cantidad de veces que se repiten los años en la columna 'Date'.

In [56]:
df.Date.str.split('/').str[-1].str.strip().value_counts()

Date
1986    4
1957    2
1996    2
1989    2
1987    2
2011    2
1976    1
1979    1
1984    1
1985    1
1975    1
1961    1
1969    1
1992    1
1966    1
1999    1
2002    1
2003    1
2004    1
2006    1
Name: count, dtype: int64

In [59]:
conteo_fechas = pd.to_datetime(df['Date']).dt.year.value_counts()
print(conteo_fechas)

Date
1986    4
1957    2
1996    2
1989    2
1987    2
2011    2
1976    1
1979    1
1984    1
1985    1
1975    1
1961    1
1969    1
1992    1
1966    1
1999    1
2002    1
2003    1
2004    1
2006    1
Name: count, dtype: int64

C:\Users\PERALTA\AppData\Local\Temp\ipykernel_19408\576753938.py:1: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  conteo_fechas = pd.to_datetime(df['Date']).dt.year.value_counts()

### Ejercicio 4:
* Crea una nueva columna llamada 'Severity' que sea la suma de las columnas 'INES level' y 'Numbers of Direct Deaths'.

In [61]:
df['Severity'] = df['INES level'] + df['Numbers of Direct Deaths']
df['Severity']

0      NaN
1      5.0
2      7.0
3      4.0
4      4.0
5      3.0
6      6.0
7      5.0
8      NaN
9      NaN
10     NaN
11    35.0
12     NaN
13     NaN
14     NaN
15     NaN
16     NaN
17     3.0
18     NaN
19     NaN
20     NaN
21     6.0
22     3.0
23     3.0
24     5.0
25     2.0
26    11.0
27     NaN
Name: Severity, dtype: float64

### Ejercicio 5:
* Crear un nuevo campo, que se denomine "Total Deaths", que guarde la sumatoria de las columnas 'Numbers of Direct Deaths' y 'Numbers of InDirect Deaths'. Informar el total de muertes para el incidente más grave (mayor 'Total Deaths').

### Ejercicio 6:
* Mostrar la cantidad de incidentes nucleares en cada categoría ('Category').

### Ejercicio 7:
* Filtrar el DataFrame para mostrar solo los incidentes ocurridos en Estados Unidos ('Pais').

### Ejercicio 8:
* Calcular la cantidad total de muertes directas por incidente nuclear para cada año.

### Ejercicio 9:
* Mostrar la cantidad de incidentes nucleares en cada país ('Pais') en los que el nivel INES es mayor a 5.

### Ejercicio 10:
* Calcular la cantidad de muertes directas totales de Estados Unidos.