# Ejercicios sobre Pandas

In [110]:
import pandas as pd

In [111]:
# Crear DataFrame desde el archivo CSV
df_accidentes = pd.read_csv('Dataset/Nuclear_Incidents.csv')
df_accidentes.head(2)

,Date,Location,Incident,Category,Numbers of Direct Deaths,Numbers of InDirect Deaths,INES\nlevel,Latitude,Longitude
0,29/09/1957,"Mayak, Kyshtym, Soviet Union",Kyshtym disaster,Storage/Handling,NaN,200,6.0,55.7131,60.8526
1,10/10/1957,"Sellafield, Cumberland, United Kingdom",Windscale fire,Operational/Safety Measures,0.0,240,5.0,54.4167,-3.4833

In [112]:
df_accidentes.columns

Index(['Date', 'Location ', 'Incident', 'Category', 'Numbers of Direct Deaths',
       'Numbers of InDirect Deaths', 'INES\nlevel', 'Latitude', 'Longitude'],
      dtype='object')

In [123]:
# Eliminar espacios en blanco al principio y al final de los nombres de las columnas
df_accidentes.columns = df_accidentes.columns.str.strip()

# Cambiar el nombre de la columna 'INES\nlevel' a 'INES level'
df_accidentes.rename(columns={'INES\nlevel': 'INES level'}, inplace=True)

# Imprimir las primeras filas del DataFrame para verificar los cambios
df_accidentes

,Date,Incident,Category,Numbers of Direct Deaths,Numbers of InDirect Deaths,INES level,Pais,Avg Deaths per Incident,Year
0,1957-09-29,Kyshtym disaster,Storage/Handling,NaN,200,6.0,Soviet Union,NaN,1957
1,1957-10-10,Windscale fire,Operational/Safety Measures,0.0,240,5.0,United Kingdom,0.0,1957
2,1961-01-03,SL-1 prototype explosion,Operator Error,3.0,NaN,4.0,United States,3.0,1961
3,1966-10-05,Fermi 1 Reactor meltdown,Technical Flaws,0.0,NaN,4.0,United States,0.0,1966
4,1969-01-21,"Loss-of-Coolant Accident (January 21, 1969)",Operator Error,0.0,NaN,4.0,Switzerland,0.0,1969
5,1975-12-07,Greifswald Nuclear Power Plant fire,Electrical Error,0.0,NaN,3.0,East Germany,0.0,1975
6,1976-01-05,Fuel Rod Ejection during Fuel Replacement,Operator Error,2.0,NaN,4.0,Czechoslovakia,2.0,1976
7,1979-03-28,Partial Core Meltdown (Operator Errors),Operator/Technical Flaws,0.0,NaN,5.0,United States,0.0,1979
8,1984-09-15,Browns Ferry Unit 2 Outage (Six-Year,Safety Violations/Design Problems,0.0,NaN,NaN,United States,0.0,1984
9,1985-03-09,Browns Ferry Units Startup Malfunction,Instrumentation Malfunction,0.0,NaN,NaN,United States,0.0,1985
10,1986-04-11,Pilgrim Nuclear Power Plant Emergency Shutdown,Equipment Problems,0.0,NaN,NaN,United States,0.0,1986
11,1986-04-26,Chernobyl disaster,Design/Safety Procedures,28.0,"4,000",7.0,Soviet Union,7.0,1986
12,1986-05-04,THTR-300 reactor,Experimental Operation,0.0,NaN,NaN,West Germany,0.0,1986
13,1986-12-09,Surry Nuclear Power Plant pipe break,Equipment Failure,4.0,NaN,NaN,United States,1.0,1986
14,1987-03-31,Peach Bottom units shutdown,Cooling Malfunctions,0.0,NaN,NaN,United States,0.0,1987
15,1987-12-19,Niagara Mohawk Power Corporation shutdown,Malfunctions,0.0,NaN,NaN,United States,0.0,1987
16,1989-03-17,Calvert Cliff Units extended shutdown,Inspection Findings,0.0,NaN,NaN,United States,0.0,1989
17,1989-10-19,Vandellòs nuclear power plant accident,Cooling System Failure,0.0,NaN,3.0,Spain,0.0,1989
18,1992-03-01,Sosnovy Bor nuclear plant accident,Equipment Rupture,NaN,NaN,NaN,Russia,NaN,1992
19,1996-02-20,Millstone Nuclear Power Plant shutdown,Valve Leak,0.0,NaN,NaN,United States,0.0,1996
20,1996-09-02,Crystal River Unit 3 shutdown,Equipment Malfunction,0.0,NaN,NaN,United States,0.0,1996
21,1999-09-30,Tokaimura nuclear accident,Operational/Safety Procedures,2.0,NaN,4.0,Japan,2.0,1999
22,2002-02-16,Davis-Besse reactor outage,Corrosion,0.0,NaN,3.0,United States,0.0,2002
23,2003-04-10,Paks Nuclear Power Plant fuel rod collapse,Corrosion Cleaning,0.0,NaN,3.0,Hungary,0.0,2003
24,2004-08-09,Mihama Nuclear Power Plant explosion,Steam Explosion,4.0,NaN,1.0,Japan,4.0,2004
25,2006-07-25,Forsmark Nuclear Power Plant electrical fault,Safety Systems Failure,0.0,NaN,2.0,Sweden,0.0,2006
26,2011-03-11,Fukushima nuclear disaster,Natural Disaster/Operational Failure,4.0,NaN,7.0,Japan,2.0,2011
27,2011-09-12,Marcoule Nuclear Site blast,Industrial Accident,1.0,NaN,NaN,France,0.5,2011

### Ejercicio 1:
* Muestra la cantidad de registros para cada país ('Location').

In [114]:
# Extraer el país de la columna 'Location'
df_accidentes['Pais'] = df_accidentes['Location'].str.split(',').str[-1].str.strip()

# Mostrar la cantidad de incidentes por país
conteo_por_pais = df_accidentes['Pais'].value_counts()
conteo_por_pais

Pais
United States     13
Japan              3
Soviet Union       2
United Kingdom     1
Switzerland        1
East Germany       1
Czechoslovakia     1
West Germany       1
Spain              1
Russia             1
Hungary            1
Sweden             1
France             1
Name: count, dtype: int64

### Ejercicio 2:
* Eliminar las columnas 'Longitude', 'Latitude' y 'Location' y mostrar las 2 primeras filas del Dataframe.

In [115]:
df_accidentes = df_accidentes.drop(['Longitude', 'Latitude', 'Location'], axis=1)
df_accidentes.head(2)

,Date,Incident,Category,Numbers of Direct Deaths,Numbers of InDirect Deaths,INES level,Pais
0,29/09/1957,Kyshtym disaster,Storage/Handling,NaN,200,6.0,Soviet Union
1,10/10/1957,Windscale fire,Operational/Safety Measures,0.0,240,5.0,United Kingdom

### Ejercicio 3:
* Muestra la cantidad de veces que se repiten los años en la columna 'Date'.

In [116]:
# Mostrar la cantidad de registros en la columna 'Date' sin valores faltantes
conteo_fechas = pd.to_datetime(df_accidentes['Date']).dt.year.value_counts()
print(conteo_fechas)

Date
1986    4
1957    2
1996    2
1989    2
1987    2
2011    2
1976    1
1979    1
1984    1
1985    1
1975    1
1961    1
1969    1
1992    1
1966    1
1999    1
2002    1
2003    1
2004    1
2006    1
Name: count, dtype: int64

C:\Users\gabri\AppData\Local\Temp\ipykernel_6460\2087940695.py:2: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  conteo_fechas = pd.to_datetime(df_accidentes['Date']).dt.year.value_counts()

### Ejercicio 4:
* Crea una nueva columna llamada 'Severity' que sea la suma de las columnas 'INES level' y 'Numbers of Direct Deaths'.

In [99]:
# Crear la columna 'Severity'
df_accidentes['Severity'] = df_accidentes['INES level'] + df_accidentes['Numbers of Direct Deaths']

# Mostrar el DataFrame con la nueva columna
print(df_accidentes['Severity'])

0      NaN
1      5.0
2      7.0
3      4.0
4      4.0
5      3.0
6      6.0
7      5.0
8      NaN
9      NaN
10     NaN
11    35.0
12     NaN
13     NaN
14     NaN
15     NaN
16     NaN
17     3.0
18     NaN
19     NaN
20     NaN
21     6.0
22     3.0
23     3.0
24     5.0
25     2.0
26    11.0
27     NaN
Name: Severity, dtype: float64

### Ejercicio 5:
* Crear un nuevo campo, que se denomine "Total Deaths", que guarde la sumatoria de las columnas 'Numbers of Direct Deaths' y 'Numbers of InDirect Deaths'. Informar el total de muertes para el incidente más grave (mayor 'Total Deaths').

In [100]:
# Reviso el contenido de la columna 'Numbers of Direct Deaths'
df_accidentes['Numbers of Direct Deaths'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 28 entries, 0 to 27
Series name: Numbers of Direct Deaths
Non-Null Count  Dtype
--------------  -----
26 non-null     float64
dtypes: float64(1)
memory usage: 356.0 bytes

In [101]:
df_accidentes['Numbers of InDirect Deaths'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 28 entries, 0 to 27
Series name: Numbers of InDirect Deaths
Non-Null Count  Dtype
--------------  -----
3 non-null      object
dtypes: object(1)
memory usage: 356.0+ bytes

In [102]:
df_accidentes['Numbers of InDirect Deaths'].value_counts()

Numbers of InDirect Deaths
200      1
240      1
4,000    1
Name: count, dtype: int64

In [103]:
df_accidentes['Numbers of InDirect Deaths'] = df_accidentes['Numbers of InDirect Deaths'].astype(str)

In [104]:
df_accidentes['Numbers of InDirect Deaths'] = df_accidentes['Numbers of InDirect Deaths'].replace('4,000', '4000')

In [105]:
# Convertimos las columnas 'Numbers of Direct Deaths' y 'Numbers of InDirect Deaths' a tipo float
df_accidentes['Numbers of Direct Deaths'] = df_accidentes['Numbers of Direct Deaths'].astype(float)
df_accidentes['Numbers of InDirect Deaths'] = df_accidentes['Numbers of InDirect Deaths'].astype(float)

In [106]:
df_accidentes['Total Deaths'] = df_accidentes['Numbers of Direct Deaths'] + df_accidentes['Numbers of InDirect Deaths']
max_total_deaths = df_accidentes.loc[df_accidentes['Total Deaths'].idxmax()]['Total Deaths']

In [107]:
max_total_deaths

4028.0

### Ejercicio 6:
* Mostrar la cantidad de incidentes nucleares en cada categoría ('Category').

In [108]:
df_accidentes['Category'].value_counts()

Category
Operator Error                          3
Storage/Handling                        1
Inspection Findings                     1
Natural Disaster/Operational Failure    1
Safety Systems Failure                  1
Steam Explosion                         1
Corrosion Cleaning                      1
Corrosion                               1
Operational/Safety Procedures           1
Equipment Malfunction                   1
Valve Leak                              1
Equipment Rupture                       1
Cooling System Failure                  1
Malfunctions                            1
Operational/Safety Measures             1
Cooling Malfunctions                    1
Equipment Failure                       1
Experimental Operation                  1
Design/Safety Procedures                1
Equipment Problems                      1
Instrumentation Malfunction             1
Safety Violations/Design Problems       1
Operator/Technical Flaws                1
Electrical Error                        1
Technical Flaws                         1
Industrial Accident                     1
Name: count, dtype: int64

### Ejercicio 7:
* Filtrar el DataFrame para mostrar solo los incidentes ocurridos en Estados Unidos ('Pais').

In [117]:
df_usa = df_accidentes[df_accidentes['Pais'] == 'United States']
df_usa

,Date,Incident,Category,Numbers of Direct Deaths,Numbers of InDirect Deaths,INES level,Pais
2,03/01/1961,SL-1 prototype explosion,Operator Error,3.0,NaN,4.0,United States
3,05/10/1966,Fermi 1 Reactor meltdown,Technical Flaws,0.0,NaN,4.0,United States
7,28/03/1979,Partial Core Meltdown (Operator Errors),Operator/Technical Flaws,0.0,NaN,5.0,United States
8,15/09/1984,Browns Ferry Unit 2 Outage (Six-Year,Safety Violations/Design Problems,0.0,NaN,NaN,United States
9,09/03/1985,Browns Ferry Units Startup Malfunction,Instrumentation Malfunction,0.0,NaN,NaN,United States
10,11/04/1986,Pilgrim Nuclear Power Plant Emergency Shutdown,Equipment Problems,0.0,NaN,NaN,United States
13,09/12/1986,Surry Nuclear Power Plant pipe break,Equipment Failure,4.0,NaN,NaN,United States
14,31/03/1987,Peach Bottom units shutdown,Cooling Malfunctions,0.0,NaN,NaN,United States
15,19/12/1987,Niagara Mohawk Power Corporation shutdown,Malfunctions,0.0,NaN,NaN,United States
16,17/03/1989,Calvert Cliff Units extended shutdown,Inspection Findings,0.0,NaN,NaN,United States
19,20/02/1996,Millstone Nuclear Power Plant shutdown,Valve Leak,0.0,NaN,NaN,United States
20,02/09/1996,Crystal River Unit 3 shutdown,Equipment Malfunction,0.0,NaN,NaN,United States
22,16/02/2002,Davis-Besse reactor outage,Corrosion,0.0,NaN,3.0,United States

### Ejercicio 8:
* Calcular la cantidad total de muertes directas por incidente nuclear para cada año.

In [122]:
# Asegúrate de que la columna 'Date' sea del tipo datetime antes de continuar
df_accidentes['Date'] = pd.to_datetime(df_accidentes['Date'], format='%d/%m/%Y')

# Crea una nueva columna 'Year' que contenga el año de cada fecha
df_accidentes['Year'] = df_accidentes['Date'].dt.year

# Calculamos la cantidad de muertes por año
df_muertes_por_anio = df_accidentes.groupby('Year')['Numbers of Direct Deaths'].sum()

df_muertes_por_anio

Year
1957     0.0
1961     3.0
1966     0.0
1969     0.0
1975     0.0
1976     2.0
1979     0.0
1984     0.0
1985     0.0
1986    32.0
1987     0.0
1989     0.0
1992     0.0
1996     0.0
1999     2.0
2002     0.0
2003     0.0
2004     4.0
2006     0.0
2011     5.0
Name: Numbers of Direct Deaths, dtype: float64

### Ejercicio 9:
* Mostrar la cantidad de incidentes nucleares en cada país ('Pais') en los que el nivel INES es mayor a 5.

In [124]:
conteo_altos_ines = df_accidentes[df_accidentes['INES level'] > 5]['Pais'].value_counts()
conteo_altos_ines

Pais
Soviet Union    2
Japan           1
Name: count, dtype: int64

### Ejercicio 10:
* Calcular la cantidad de muertes directas totales de Estados Unidos.

In [129]:
# Filtrar las filas para Estados Unidos y muertes directas mayores a 0
df_muertes_directas_usa = df_accidentes.loc[(df_accidentes['Pais'] == 'United States') & (df_accidentes['Numbers of Direct Deaths'] > 0)]

# Sumar la columna 'Numbers of Direct Deaths' para obtener el total
total_muertes_directas_usa = df_muertes_directas_usa['Numbers of Direct Deaths'].sum()

total_muertes_directas_usa

7.0