# **Modelo de Examen**

In [68]:
# Importa las librerías necesarias para el proyecto
import pandas as pd

In [69]:
# Carga el dataset y visualizalo
df = pd.read_csv('Datos/Emisiones_CO2.csv',encoding='latin-1', thousands='.', decimal=',',sep='|')

In [70]:
df.rename({'Código de país':'cod_pais','Nombre del país':'nom_pais','CO2 (kt)':'co2_kt','CO2 per cápita (toneladas métricas)':'co2_percapita'}, axis=1, inplace=True)

In [71]:
df.head()

  cod_pais nom_pais                   Región   Año  co2_kt  co2_percapita
0      ABW    Aruba  América Latina y Caribe  1960     NaN            NaN
1      ABW    Aruba  América Latina y Caribe  1961     NaN            NaN
2      ABW    Aruba  América Latina y Caribe  1962     NaN            NaN
3      ABW    Aruba  América Latina y Caribe  1963     NaN            NaN
4      ABW    Aruba  América Latina y Caribe  1964     NaN            NaN

#### _1) Informar la cantidad de registros cuya región sea 'América Latina y Caribe' retornando ese valor en un dato de tipo entero._

In [72]:
def Ret_Pregunta01():
    '''
    Debes utilizar Pandas para ingestar en un objeto Dataframe el contenido del archivo provisto
    "Emisiones_CO2.csv".

    Esta función debe informar la cantidad de registros cuya región sea 'América Latina y Caribe' retornando ese valor en un dato de tipo entero.
    '''
    # Tu código va aquí

    cant_registros = df[df['Región']=='América Latina y Caribe'].shape
    
    return cant_registros[0]

In [73]:
Ret_Pregunta01()

2132

#### _2) Eliminar las columnas 'Código de país' y 'Nombre del país' y luego informar la cantidad de columnas retornanado ese valor en un dato de tipo entero._

In [74]:
def Ret_Pregunta02():
    '''
    Debes utilizar Pandas para ingestar en un objeto Dataframe el contenido del archivo provisto
    "Emisiones_CO2.csv".

    Esta función debe eliminar las columnas 'Código de país' y 'Nombre del país' y luego informar la cantidad de columnas
    retornanado ese valor en un dato de tipo entero.
    '''

    # Tu código va aquí
    df2 = df.drop(columns=['cod_pais','nom_pais'])
    
    return df2.shape[1]

In [75]:
Ret_Pregunta02()

4

#### _3) Informar la cantidad de registros de la columna 'Año' sin tener en cuenta aquellos con valores faltantes retornanado ese valor en un dato de tipo entero._

In [76]:
def Ret_Pregunta03():
    '''
    Debes utilizar Pandas para ingestar en un objeto Dataframe el contenido del archivo provisto
    "Emisiones_CO2.csv".

    Esta función debe informar la cantidad de registros de la columna 'Año' sin tener en cuenta aquellos con valores faltantes
    retornanado ese valor en un dato de tipo entero.
    '''

    # Tu código va aquí

    df2 = df['Año'].dropna()
    
    return df2.shape[0]

In [77]:
Ret_Pregunta03()

11127

#### _4) Calcular el país con la mayor cantidad de emisiones per cápita de CO2, excluyendo los países con datos faltantes en la columna CO2 per cápita (toneladas métricas)._

In [78]:
def Ret_Pregunta04():
    '''
    Debes utilizar Pandas para ingestar en un objeto Dataframe el contenido del archivo provisto
    "Emisiones_CO2.csv".

    Esta función debe calcular el país con la mayor cantidad de emisiones per cápita de CO2, excluyendo
    los países con datos faltantes en la columna CO2 per cápita (toneladas métricas).
    '''

    # Tu código va aquí

    df2 = df.dropna(subset=['co2_percapita'])
    # maximo = df2.groupby('nom_pais')['co2_kt'].sum()
    maximo = df2['co2_percapita'].max()

    #solucion1
    # pais_maximo = df2[df2['co2_percapita'] == maximo]['nom_pais']
    #solucion1
    pais_maximo = df2[df2['co2_percapita'] == maximo].iloc[0,1]
    #solucion1
    # pais_maximo = df2[df2['co2_percapita'] == maximo]['nom_pais'].iloc[0]
    
    return pais_maximo

In [80]:
Ret_Pregunta04()

'Emiratos Árabes Unidos'