# **Modelo de Examen**

In [1]:
import pandas as pd

In [30]:
emisiones = pd.read_csv('Datos/Emisiones_CO2.csv', sep='|', encoding='latin-1')
emisiones.head(2)

,Código de país,Nombre del país,Región,Año,CO2 (kt),CO2 per cápita (toneladas métricas)
0,ABW,Aruba,América Latina y Caribe,1960,NaN,NaN
1,ABW,Aruba,América Latina y Caribe,1961,NaN,NaN

In [31]:
emisiones.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11127 entries, 0 to 11126
Data columns (total 6 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Código de país                       11127 non-null  object
 1   Nombre del país                      11127 non-null  object
 2   Región                               11127 non-null  object
 3   Año                                  11127 non-null  int64
 4   CO2 (kt)                             9032 non-null   object
 5   CO2 per cápita (toneladas métricas)  9029 non-null   object
dtypes: int64(1), object(5)
memory usage: 521.7+ KB

#### _1) Informar la cantidad de registros cuya región sea 'América Latina y Caribe' retornando ese valor en un dato de tipo entero._

In [42]:
def Ret_Pregunta01():
    '''
    Debes utilizar Pandas para ingestar en un objeto Dataframe el contenido del archivo provisto
    "Emisiones_CO2.csv".

    Esta función debe informar la cantidad de registros cuya región sea 'América Latina y Caribe' retornando ese valor en un dato de tipo entero.
    '''

    df = pd.read_csv('Datos/Emisiones_CO2.csv', sep='|', encoding='latin-1')
    return df[df['Región'] == 'América Latina y Caribe'].shape[0]

In [43]:
Ret_Pregunta01()

2132

#### _2) Eliminar las columnas 'Código de país' y 'Nombre del país' y luego informar la cantidad de columnas retornanado ese valor en un dato de tipo entero._

In [36]:
def Ret_Pregunta02():
    '''
    Debes utilizar Pandas para ingestar en un objeto Dataframe el contenido del archivo provisto
    "Emisiones_CO2.csv".

    Esta función debe eliminar las columnas 'Código de país' y 'Nombre del país' y luego informar la cantidad de columnas
    retornanado ese valor en un dato de tipo entero.
    '''

    df = pd.read_csv('Datos/Emisiones_CO2.csv', sep='|', encoding='latin-1')
    df = df.drop(['Código de país', 'Nombre del país'], axis=1)
    return df.shape[1]

In [37]:
Ret_Pregunta02()

4

#### _3) Informar la cantidad de registros de la columna 'Año' sin tener en cuenta aquellos con valores faltantes retornanado ese valor en un dato de tipo entero._

In [38]:
def Ret_Pregunta03():
    '''
    Debes utilizar Pandas para ingestar en un objeto Dataframe el contenido del archivo provisto
    "Emisiones_CO2.csv".

    Esta función debe informar la cantidad de registros de la columna 'Año' sin tener en cuenta aquellos con valores faltantes
    retornanado ese valor en un dato de tipo entero.
    '''

    df = pd.read_csv('Datos/Emisiones_CO2.csv', sep='|', encoding='latin-1')
    return df['Año'].dropna().shape[0]

In [39]:
Ret_Pregunta03()

11127

#### _4) calcular el país con la mayor cantidad de emisiones per cápita de CO2, excluyendo los países con datos faltantes en la columna CO2 per cápita (toneladas métricas)._

In [48]:
def Ret_Pregunta04():
    '''
    Debes utilizar Pandas para ingestar en un objeto Dataframe el contenido del archivo provisto
    "Emisiones_CO2.csv".

    Esta función debe calcular el país con la mayor cantidad de emisiones per cápita de CO2, excluyendo
    los países con datos faltantes en la columna CO2 per cápita (toneladas métricas).
    '''

    df = pd.read_csv('Datos/Emisiones_CO2.csv', sep='|', encoding='latin-1')
    df = df.dropna(subset=['CO2 per cápita (toneladas métricas)'])
    emisiones_per_capita_max = df['CO2 per cápita (toneladas métricas)'].max()
    pais_emisiones_max = df[df['CO2 per cápita (toneladas métricas)'] == emisiones_per_capita_max]['Nombre del país'].iloc[0]

    return pais_emisiones_max

In [49]:
Ret_Pregunta04()

'Emiratos Árabes Unidos'